config BOARD_ROPIXON_ZG_V5_0
	select SOC_NRF54L15_CPUAPP if BOARD_ROPIXON_ZG_V5_0_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_ROPIXON_ZG_V5_0_NRF54L15_CPUFLPR || \
		BOARD_ROPIXON_ZG_V5_0_NRF54L15_CPUFLPR_XIP